.searchPage{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    color: black;
    .searchContainer{
        max-width: 70%;

margin: 2rem auto;
background-color: rgb(226, 223, 223);
border-radius: 20px;
padding: 0 1rem;
display: flex;
align-items: center;
height: 60px;
@media (max-width: 767px) {
    
    max-width: 95%;
    
            }
input{
    flex: 1;
    background: transparent;
    outline: none;
    @media (max-width: 767px) {
    
        width: 70%;
                 }
}
select{
    width: 200px;
    height:80%;
    border-radius: 10px;
    padding:5px;
    background: #000000b4;
    color:white;
    @media (max-width: 767px) {
    
       width: 30%;
       height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
                }
}
button{
    margin-left: 1rem;
    width: 80px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    background: rgb(14, 14, 14);
    @media (max-width: 767px) {
        width: 30px;
        height: 30px;
       
                 }
    svg{
        font-weight: bolder;
        font-size: 25px;
         @media (max-width: 767px) {
            font-size: 15px;
       
                 }
    }
}
    }
    .products {
        display: flex;
        width: 90%;
        margin: 0 auto;
        height: fit-content;
        padding: 3rem 0;
        flex-wrap: wrap;
        // background: #000;
        gap: 10px;
        align-items: center;
        justify-content: space-evenly;

        @media (max-width: 767px) {

            width: 99%;

        }
    }
}